#vi-song-control, #vi-artist-control {
    margin-top: 10px;
    margin-bottom: 10px;
}

#vi-song-control, #vi-song-control span, #vi-song-control a {
    font-size: 14px;
    margin-left: 0px;
}

#vi-artist-control, #vi-artist-control span, #vi-artist-control a {
    font-size: 14px;
    margin-left: 0px;
}

.vi-song-info {
    margin-bottom: 10px;
}

.vi-song-info span {
    user-select: text;
    -webkit-user-select: text;
    font-size: 14px;
}

.vi-artist-info {
    margin-left: 0px !important;
    margin-bottom: 10px;
}

.vi-artist-info span, .vi-artist-info a {
    user-select: text;
    -webkit-user-select: text;
    font-size: 14px;
    margin-left: 0px;
}

.vi-achievement {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    font-size: 10px;
    border-radius: 20px;
    height: 20px;
    padding-left: 9px;
    padding-right: 9px;
}
.vi-achievement p {
    margin: 0;
    margin-left: 5px;
    filter: brightness(0.77);
}

.vi-song-container {
    border: 1.6px solid;
    border-color: #111;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.vi-artist-container {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 204px;
}