#vi-song-control, #vi-song-control span, #vi-song-control a {
    color: var(--md-accent-color-secondary);
}

#vi-artist-control, #vi-artist-control span, #vi-artist-control a {
    color: var(--md-accent-color-secondary);
}

.vi-song-info span {
    color: var(--md-accent-color-secondary);
}

.vi-artist-info span, .vi-artist-info a {
    color: var(--md-accent-color-secondary);
}

.vi-song-container {
    border-color: var(--md-accent-color-secondary);
}